#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* fzs */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #dbf2fe;
  border-bottom: solid 1px #5d5be7;
  color: #000;
  padding: 0.8rem 1.5rem;
  display: flex;
  justify-content: space-around;
}

.navlink{
  text-decoration: none;
  color: black;
  margin-right: 1rem;
}

.nav-link:hover{
  color: #5378c3;
} 


.modal-success {
  background: #d1f4d9;
  color: #898684;
}

.modal-warning {
  background: #e8adb3; 
  color: #868584;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.notification-success {
  /*background-color: #efd6bd;
  color: #cc8259;*/
  padding: 2rem;
  border: 1px solid #cc8259;
  border-radius: 0.5rem;
  max-width: 500px;
  width: 90%;
  text-align: center;
  position: relative;
}

.close-btn-success {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  color: #7e4f1a;
  font-size: 1.5rem;
  cursor: pointer;
}

.text-header { 
  width: 100%;
  font-family: sans-serif; 
  font-size: 16px; 
  font-weight: 400; 
  color: #ffffff; 
  background:#0cba49;
}
.text-subheader { 
  width: 100%;
  text-align: left;
  font-family: sans-serif; 
  font-weight: 400; 
  line-height:1px;
  color: #f8f4f4; 
}
.text-parrafo { 
  width: 100%;
  text-align: justify;
  font-family: sans-serif; 
  font-size: 16px;
  font-weight: 400; 
  line-height:2;
  color: #fcf8f8; 
}
.linea {
  width: 100%;
  border-top: 1px solid rgb(77, 227, 162);
  height: 2px;
  padding: 0;
  line-height:3px;
}
.container {
  width: 200px;
  text-align:left;
  font-family: sans-serif; 
  font-size: 16px;
  font-weight: 400;
}
section{
  display: flex;
  column-gap: 20px;
}
.nav-username{
  background: "#101010";
  margin-left: 25rem;
  margin-right: -auto;
}
